body {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
  justify-items: center;
  align-items: center;
  h1 { 
    font-size: 70px;
    text-align: center;
  }
  p {
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
    width: 1000px;
  }

  input {
    margin-top: 50px;
    margin-bottom: 15px;
    width: 500px;
    font-size: 20px;
  }

  button {
    font-size: 15px;
    padding: 7px;
    width: 300px;
    border-radius: 10px;
  }

}